################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Visual Studio/VSIX Project/2022/.vs
/Visual Studio/VSIX Project/2022/obj
/Visual Studio/VSIX Project/2019/obj/x86
